body {
  margin: 0px 0px; 
  padding: 0px; 
}

.table2 {
    border-spacing:0px 20px;
}

.box1 {
    background-color: darkred;
}

.box2 {
    background-color: deeppink;
}

.box3 {
    background-color: brown;
}

.box_text_color {
    color:white;
    padding: 10px;
    margin: 10px 10px;
    text-align: center;
}

.td_image_width {
    display: block;
    width: 100%;
    height: 400px;
}