.Container{  
    display: flex;
    flex-direction: row;
}
 
.item {
    flex: 1;

    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
}

.item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
} 

.navbar {
    display:flex;
    flex-direction:row;
}

.navbaritem {
    text-align: center;
    margin: 10px 10px;
    padding:10px;
}

.navbar:hover {
    background-color:#333;
}

.navbar:hover .navbaritem{
    color:white;
}

.navbar:hover .navbardropdown{
    color:white;
}

.navbardropdown {
    text-align: center;
    margin: 10px 10px;
    padding: 10px;
    position:relative;
    display:inline-block;
}

.dropdowncontent {
    display:none;
    position:absolute;
    left:-15px;
    top:50px;
    background-color: white;
    color:black;
    width:160px;
    text-align:left;
}

.navbardropdown:hover .dropdowncontent {
    display: block;
}

.navbardropdown:hover {
    background-color: #bdbbbb;
    border-radius:5px;
}

a {
    text-decoration:none;
    color:black;
}

hr {
    color:lightgrey;
}